@charset "UTF-8";
@use "destyle";


* {
	// レイアウト確認用
	// outline: 1px solid #aaa;
}

body {
	font-family: "Noto Sans JP", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
	color: rgb(60, 60, 60);
	line-height: 1.75;
	text-size-adjust: 100%;
	margin: 115px 0 0 0;

	background-image: url("../img/gradient.png");
	background-position: top center;
	background-repeat: repeat-x;
	background-attachment: fixed;
}

#pagetop {

	span {
		position: fixed;
		bottom: 30px;
		right: 30px;

		display: flex;
		align-items: center;
		justify-content: center;
		width: 60px;
		height: 60px;
		color: #fff;
		background: #2e75b6;
		font-size: 16px;
		font-weight: bold;
		z-index: 9999;

		&:hover {
			cursor: pointer;
		}
	}
}

.wrapper {
	width: 100%;
}

.header {
	position: fixed;
	z-index: 9999;
	top: 0;
	width: 100%;
	min-width: 1000px;
	background: #2e75b6;
	box-shadow: 0 0 5px rgb(0 0 0 / 30%);
	border-top: 4px solid rgb(0 0 0 / 30%);
	// border-bottom: 1px solid #fff;

	h1 {
		width: 1000px;
		margin: 0 auto;

		a {
			opacity: 1;
			transition: all 0.2s;

			&:hover {
				opacity: 0.75;
				transition: all 0.2s;
			}

		}
	}
}

.main {
	width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;

	.nav {
		width: 230px;
		background: #deebf7;
		padding: 20px 10px;
		box-shadow: 0 0 5px rgb(0 0 0 / 30%);
		z-index: 50;

		ul {
			li {
				margin: 0 0 10px 0;
				box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
				position: relative;
			}

			a {
				display: block;
				background: #fff;
				padding: 0.7em 1.2em;
				transition: all 0.2s;
				line-height: 1.4;
				font-size: 15px;

				&:before {
					position: absolute;
					content: "";
					width: 4px;
					height: 12px;

					border-top: none;
					border-right: none;
					border-bottom: none;
					border-left: 4px solid rgba(255, 165, 80, 1);
					left: 4px;
					top: 50%;
					transform: translateY(-50%);
					transition: all 0.2s;
				}

				&:hover {
					background: rgb(30, 105, 185);
					color: #fff;
					transition: all 0.2s;
					position: relative;

					&:before {
						left: calc(100% - 12px);
						width: 6px;
						height: 10px;
						border-top: 6px solid transparent;
						border-right: 6px solid transparent;
						border-bottom: 6px solid transparent;
						border-left: 6px solid rgba(255, 165, 80, 1);
						transition: all 0.2s;
					}
				}
			}

			a.current {
				color: #fff;
				background: rgb(30, 105, 185);

				&:before {
					left: calc(100% - 12px);
					width: 6px;
					height: 10px;
					border-top: 6px solid transparent;
					border-right: 6px solid transparent;
					border-bottom: 6px solid transparent;
					border-left: 6px solid rgba(255, 165, 80, 1);
					transition: all 0.2s;
				}
			}
		}
	}

	.content {
		width: 770px;
		box-shadow: 0 0 5px rgb(0 0 0 / 30%);
		background: #fff;

		.main-image {
			margin: 0 0 30px 0;

			img {
				width: 100%;
			}
		}

		.info-ttl {
			font-size: 20px;
			margin: 0 35px;
			padding: 0 0 0 1em;
			color: #fff;
			background: #c55a11;
			// box-shadow: 2px 2px 3px rgb(0 0 0 / 30%);
		}

		.information {
			height: 215px;
			overflow: scroll;
			margin: 0 35px 30px 35px;

			ul {
				font-size: 15px;
				line-height: 1.6;

				li {
					display: flex;
					flex-direction: row;
					list-style-type: none;
					border-bottom: 1px dotted #000;
					padding: 14px 0;


					span.date {
						display: block;
						position: relative;
						width: 120px;
						text-indent: 2em;

						&::before {
							content: "";
							position: absolute;
							top: 9px;
							left: 0.7em;
							width: 7px;
							height: 7px;
							border-radius: 1em;
							background: #ff953d;
						}
					}

					p {
						width: 626px;
					}
				}
			}
		}
	}
}

.footer {
	width: 100%;
	min-width: 1000px;
	margin: 0 auto;
	box-shadow: 0 0 5px rgb(0 0 0 / 30%);
	position: relative;
	background: #fff;
	z-index: 100;

	.footer-inner {
		width: 1000px;
		padding: 30px 0;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		gap: 40px;

		address {
			width: 33%;
			font-size: 13px;
			line-height: 1.6;

			h3 {
				font-weight: bold;
				color: rgb(30, 105, 185);
				border-bottom: dotted 1px rgb(90, 120, 200);
				padding: 2px 0;
				margin: 0 0 6px 0;
			}

			p.address-name {
				font-size: 15px;
				font-weight: bold;
			}
		}
	}

	.copyright {
		background: #2e75b6;
		font-size: 13px;
		padding: 6px 0;
		color: #fff;
		text-align: center;
	}
}