@charset "UTF-8";
@use "destyle";


* {
	// レイアウト確認用
	// outline: 1px solid #aaa;
}

body {
	font-family: "Noto Sans JP", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
	color: rgb(60, 60, 60);
	line-height: 1.75;
	text-size-adjust: 100%;
	margin: 115px 0 0 0;
}

.wrapper {
	width: 100%;
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	min-width: 1000px;
	background: #2e75b6;
	box-shadow: 0 0 5px rgb(0 0 0 / 30%);

	h1 {
		width: 1000px;
		margin: 0 auto;

		a {
			opacity: 1;
			transition: all 0.2s;

			&:hover {
				opacity: 0.75;
				transition: all 0.2s;
			}

		}
	}
}

.main {
	width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	height: 1500px;

	.nav {
		width: 230px;
		background: #deebf7;
		padding: 20px 10px;

		ul {
			li {
				margin: 0 0 10px 0;
				box-shadow: 0 0 5px rgb(0 0 0 / 30%);
				position: relative;



			}

			a {
				display: block;
				background: #fff;
				padding: 0.7em 1.2em;
				transition: all 0.2s;
				line-height: 1.4;
				font-size: 15px;

				&:before {
					position: absolute;
					content: "";
					width: 4px;
					height: 12px;

					border-top: none;
					border-right: none;
					border-bottom: none;
					border-left: 4px solid rgba(255, 165, 80, 1);
					left: 4px;
					top: 50%;
					transform: translateY(-50%);
					transition: all 0.2s;
				}

				&:hover {
					background: rgb(30, 105, 185);
					color: #fff;
					transition: all 0.2s;
					position: relative;

					&:before {
						left: calc(100% - 12px);
						width: 6px;
						height: 10px;
						border-top: 6px solid transparent;
						border-right: 6px solid transparent;
						border-bottom: 6px solid transparent;
						border-left: 6px solid rgba(255, 165, 80, 1);
						transition: all 0.2s;
					}
				}
			}
		}
	}

	.content {
		width: 770px;
	}
}

.footer {
	width: 100%;
	min-width: 1000px;
	margin: 0 auto;
}